.container {
  margin-top: 8rem;
  max-width: 32rem;
  background-color: var(--color-white);
  border-radius: 2rem;
}
.content {
  margin: 0 1.6rem 4rem 1.6rem;
  text-align: center;
}

.qrcode {
  margin: 1.6rem 1.6rem 2.4rem 1.6rem;
  border-radius: 2rem;
}

.attribution {
  margin-top: 12rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
