.container {
  margin-top: 15.2rem;
  max-width: 32rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
  text-align: center;
}
.content {
  margin: 0 0 3rem;
  padding: 0 1.6rem;
}

.qrcode {
  margin: 1.6rem 1.7rem 2.4rem 1.6rem;
  border-radius: 1rem;
}

.attribution {
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
